body {
  background: #000;
  background-image: url("wavesonblack.png");
  background-size: contain;
  overflow-x: hidden;
  overflow-y:auto;
}


#topbar h2 {
  font-family: 'Righteous', sans-serif;
  position: fixed;
  right: 0px;
  display: inline;
  font-size: 42px;
  margin-top: 0px;
  margin-right:0px;
  top:0px;
  padding-top: 13px;
  padding-left: 10px;
  padding-right: 40px;
  padding-bottom: 40px;
  background-color: #000;
  color: #00F7FF;
}


#topbar li {
  position: relative;
  display: inline;
  top: 7px;
  left: 0;
}


#topbar{
  text-align: left;
  position: fixed;
  top: 0px;
  overflow:hidden;
  height:80px;
  width: 100%;
  background-color: #00F7FF;
}

#sidebarlines{
  position: fixed;
  top: 0px;
  overflow:hidden;
  height:63px;
  width: 100%;

}

#sidebarlines a{
  float:left;
  display:block;
  color: #00F7FF;
  text-align: center;
  padding:14px 16px;
  text-decoration:none;
  font-size:17px;
}

#sidebarlines a:hover{
  background-color: #000;
  color:#000;
}

#topbar a{
  font-family: 'Righteous',sans-serif;
  color: #000;

  padding:20px;
  text-decoration:none;
  font-size:24px;

}



#topbar a:hover{
  background-color: #000;
  color:#00F7FF;
}

#currentpage {
  text-align: left;
  margin-left:20px;
  padding:0px;
  color: #000;
  text-shadow: 0 0 1px #00f7ff, 0 0 5px #00f7ff, 0 0 7.5px #00f7ff, 0 0 10px #00f7ff, 0 0 15px #00f7ff, 0 0 15px #00f7ff, 0 0 22px #00f7ff, 0 0 32.5px #00f7ff;
  font-family: 'Titillium Web', sans-serif;
  font-size: 30px;
}

.side-nav{
  border-right: 9px groove #00F7FF;
  border-bottom: 8px groove #00F7FF;
  height:95%;
  width:0;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  background:#000;
  opacity:0.99;
  overflow-x:hidden;
  padding-top:60px;
  transition:0.6s;
}

.side-nav a{
  padding:15px 15px 15px 30px;
  text-decoration:none;
  font-family:'Righteous';
  letter-spacing: 1.5px;
  font-size:22px;
  color:#00F7FF;
  display:block;
  transition:0.9s;
}

.side-nav a:hover{
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  background-color: #00F7FF;
  color: #000;
  transition: 0.7s;
}

.side-nav .btn-close{
  position:absolute;
  text-align: center;
  top:0;
  right:0;
  font-size:36px;
}

.side-nav .btn-close:hover{
  background-color: #000;
  color: #fff;
  transform: scale(1.1);

}



.jumbotron img{
  position: relative;
  display:block;
  top: 50px;
  width: 100%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;


}



p {
  font-family: 'Righteous', sans-serif;
  font-size: 24px;
  line-height: 50px;
  color: #00F7FF;
  position: relative;
  top:10px;
  width: 90%;
  margin-left: auto;
  margin-right:auto;

}


i{
    color: #000;
    text-shadow: 0 0 1px #00f7ff, 0 0 5px #00f7ff, 0 0 7.5px #00f7ff, 0 0 10px #00f7ff, 0 0 15px #00f7ff, 0 0 15px #00f7ff, 0 0 22px #00f7ff, 0 0 32.5px #00f7ff;
    font-size: 25px;
    margin-left: 15px;
}


#formofcontact{
    font-family: 'Righteous';
    font-size: 52px;
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #000;
    text-shadow: 0 0 1px #00f7ff, 0 0 5px #00f7ff, 0 0 7.5px #00f7ff, 0 0 10px #00f7ff, 0 0 15px #00f7ff, 0 0 15px #00f7ff, 0 0 22px #00f7ff, 0 0 32.5px #00f7ff;
    top: 20px;

}

/*Contact Form*/
#namee{
  color: #00f7ff;
}

  }
.form-top{
  margin-top: 0px;
}
.panel{
  box-shadow:0 0 1px #00f7ff, 0 1px 6px 0 rgba(0,0,0,.12);
  border-radius: 6px;
  border: 2px solid #00f7ff;
}

@-moz-document url-prefix() {
    .form-control{
      height: auto;
    }
}
.panel-primary{
  background-color: #000;
  color: #000;
}
.panel-primary>.panel-heading {
    color: #000;
    font-size: 20px;
    background-color: #000;
    border-color: #00f7ff;
}
.btn-warning{
  background-color: transparent;
  border-color: #bdc3c7;
}





@media(max-width:1040px) {
  h2, #topbar{
    display: none;
  }

}





@media(min-width:1040px) {
  #sidebarlines{
    display: none
  }

  .side-nav{
    display: none;
  }
}
