body {
  background: #000000;
  overflow-x: hidden;
  overflow-y:auto;
}


#topbar h2 {
  font-family: 'Righteous', sans-serif;
  position: fixed;
  right: 0px;
  display: inline;
  font-size: 42px;
  margin-top: 0px;
  margin-right:0px;
  top:0px;
  padding-top: 13px;
  padding-left: 10px;
  padding-right: 30px;
  padding-bottom: 40px;
  background-color: #000;
  color: #00F7FF;
}


#topbar li {
  position: relative;
  display: inline;
  top: 7px;
  left: 0;

}


#topbar{
  text-align: left;
  position: fixed;
  top: 0px;
  overflow:hidden;
  height:80px;
  width: 100%;
  background-color: #00F7FF;
}

#sidebarlines{
  position: fixed;
  top: 0px;
  overflow:hidden;
  height:63px;
  width: 100%;

}

#sidebarlines a{
  float:left;
  display:block;
  color: #00F7FF;
  text-align: center;
  padding:14px 16px;
  text-decoration:none;
  font-size:17px;
}

#sidebarlines a:hover{
  background-color: rgba(0,247,255,0.43);
  color:#000;
}

#topbar a{
  font-family: 'Righteous',sans-serif;
  color: #000;
  padding:20px;
  text-decoration:none;
  font-size:24px;

}



#topbar a:hover{
  background-color: #000;
  color:#00F7FF;
}



#currentpage {
  text-align: left;
  margin-left:20px;
  padding:0px;
  color: #000;
  text-shadow: 0 0 1px #00f7ff, 0 0 5px #00f7ff, 0 0 7.5px #00f7ff, 0 0 10px #00f7ff, 0 0 15px #00f7ff, 0 0 15px #00f7ff, 0 0 22px #00f7ff, 0 0 32.5px #00f7ff;
  font-family: 'Titillium Web', sans-serif;
  font-size: 30px;
}

.side-nav{
  border-right: 9px groove #00F7FF;
  border-bottom: 8px groove #00F7FF;
  height:95%;
  width:0;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  background:#000;
  opacity:0.99;
  overflow-x:hidden;
  padding-top:60px;
  transition:0.5s;
}

.side-nav a{
  padding:15px 15px 15px 30px;
  text-decoration:none;
  font-family:'Righteous';
  letter-spacing: 1.5px;
  font-size:22px;
  color:#00F7FF;
  display:block;
  transition:0.3s;
}

.side-nav a:hover{
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  background-color: #00F7FF;
  color: #000;
  transition: 0.5s;
}

.side-nav .btn-close{
  position:absolute;
  text-align: center;
  top:0;
  right:0;
  font-size:36px;
}

.side-nav .btn-close:hover{
  background-color: #000;
  color: #fff;
  transform: scale(1.1);

}



.jumbotron img{
  position: relative;
  display:block;
  top: 50px;
  width: 100%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;


}

#maintext {
  position: relative;
  -webkit-box-shadow: 0px 0px 28px 6px rgba(0,247,255,0.9);
  box-shadow: 0px 0px 28px 6px rgba(0,247,255,0.9);
  background-size: cover;
  top: 90px;
  width: 90%;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

#maintext a{
  text-decoration:none;
  color: #000;
}

#maintext a:hover{
  color: rgba(88,88,88,0.65);
  transition: .3s;


}

#maintext p {
  font-family: 'Righteous', sans-serif;
  font-size: 24px;
  line-height: 2;
  letter-spacing: 1px;
  color: #000;
  background-color: rgba(0,0,0,0.0);
  text-shadow: 0 0 1px #00f7ff, 0 0 5px #00f7ff, 0 0 7.5px #00f7ff, 0 0 10px #00f7ff, 0 0 15px #00f7ff, 0 0 15px #00f7ff, 0 0 22px #00f7ff, 0 0 32.5px #00f7ff;
  position: relative;
  top:25px;
  width: 85%;
  padding-bottom: 60px;
  margin-left: auto;
  margin-right:auto;
  margin-bottom: 30px;

}



i{
    color: #000;
    text-shadow: 0 0 1px #00f7ff, 0 0 5px #00f7ff, 0 0 7.5px #00f7ff, 0 0 10px #00f7ff, 0 0 15px #00f7ff, 0 0 15px #00f7ff, 0 0 22px #00f7ff, 0 0 32.5px #00f7ff;
    font-size: 25px;
    margin-left: 15px;
}

@media(max-width:1040px) {
  h2, #topbar{
    display: none;
  }

}

@media(min-width:1040px) {
  #sidebarlines{
    display: none
  }

  .side-nav{
    display: none;
  }
}
